
<!-- <img src="Hong Kong 01 06 Central District From Victoria Peak Nighttime.jpg" alt="Central" class="fp-image"> -->


<div id="tab-locations">
  
  <div class="col-xs-4 filter-box">
    <%= image_tag "illustrator/location_centralv.jpg" %>
  </div>
  <!-- <div class="grey-box">Central</div> -->
  <div class="col-xs-4 filter-box">
    <%= image_tag "illustrator/location_tstv.jpg" %>
  </div>
  <div class="col-xs-4 filter-box">
    <%= image_tag "illustrator/location_cwbv.jpg" %>
  </div>
</div>

<div id="tab-cuisines" style="display:none;">
  this will be the cuisines tab.
</div>

<div id="tab-reviews" style="display:none;">
  this will be the reviews tab.
</div>
