
<!-- <img src="Hong Kong 01 06 Central District From Victoria Peak Nighttime.jpg" alt="Central" class="fp-image"> -->


<div id="tab-locations">
  
  <div class="col-xs-4 locations-img-central">
    <img src="assets/illustrator/location_central.jpg" alt="Central">
  </div>
  <!-- <div class="grey-box">Central</div> -->
  <div class="col-xs-4 locations-img-tst">
    <img src="assets/illustrator/location_tst.jpg" alt="Tsim Sha Tsui">
  </div>
  <div class="col-xs-4 locations-img-cwb">
    <img src="assets/illustrator/location_cwb.jpg" alt="Causeway Bay">
  </div>
</div>

<div id="tab-cuisines" style="display:none;">
  this will be the cuisines tab.
</div>

<div id="tab-reviews" style="display:none;">
  this will be the reviews tab.
</div>
