
<!-- <img src="Hong Kong 01 06 Central District From Victoria Peak Nighttime.jpg" alt="Central" class="fp-image"> -->

<div id="tab-locations">
  this will be the locations tab.

  <div class="locations-img-central" >
    <button class="btn btn-default btn-lg" type="button">Central
    </button>
  </div>
  <!-- <div class="grey-box">Central</div> -->
  <div class="locations-img-tst">
  <img src="assets/locations-tst.jpg" alt="Tsim Sha Tsui>

  <img src="assets/locations-cwb.jpg" alt="Causeway Bay" class="locations-img">
</div>

<div id="tab-cuisines" style="display:none;">
  this will be the cuisines tab.
</div>

<div id="tab-reviews" style="display:none;">
  this will be the reviews tab.
</div>
