<div class="row">
  <div class="col-xs-2">
  </div>
  <h3 class="col-xs-8">Order from 30 restaurants in Central</h3>
  <div class="col-xs-2">
  </div>
</div>

<div>
  <div class="row">

      <div class="col-xs-2">
      </div>

      <div class="col-xs-8 restaurant-white-box">
        <div class="col-xs-12 grey-box-outline">
          <div class="col-xs-12 dark-green-box">
            <div class="col-xs-12">
            Shanghai Lane central
            </div>
            <div class="col-xs-12">
            35-37 Gough Street, Central, Hong Kong
            </div>
          </div>
          <div class="col-xs-12 light-green-box">
            <div class="row restaurant-details">

              <div class="col-xs-3">
                <%= image_tag ("logo/shanghai.png") %>
              </div>

              <div class="col-xs-6">
                <div class="col-xs-12">
                Chinese, Hong Kong
                </div>
                <div class="col-xs-12">
                Delivery in 1h
                </div>
                <div class="col-xs-12">
                Free delivery
                </div>
                <div class="col-xs-12">
                Delivery min: HK$100.00
                </div>
                <div class="col-xs-12">
                Online Payment
                </div>
              </div>

              <div class="col-xs-3 restaurant-button">Button
              <%#= button_to "Menu", menu_path, method: :get, :class="btn btn-sm btn-success" %>
              </div>

            </div>
          </div>
        </div>
      </div>  

      <div class="col-xs-2">
      </div>

  </div>

</div>

