<!-- this is our checkout page -->
<h1>Review Your Order</h1>

<div class="row review-order-text">

  <div class="col-xs-10 col-xs-offset-1 review-order-box">
  
    <div class="row review-order-dark-grey">
      
      <div class="col-xs-9">
      Your order
      </div>
      <div class="col-xs-3">
      Change order
      </div>
    
    </div>

    <div class="row">
      <div class="col-xs-3">
      1
      button
      </div>

      <div class="col-xs-6">
        <div>
        S1 Set A (8pcs)
        </div>
        <div>
        Salmon Sushi (2pcs) Eel Sushi (1pc)
        </div>
      </div>

      <div class="col-xs-3">
      HK$65.00
      </div>
    </div>

  </div>

</div>



<%= form_tag payments_path do %>
  <article>
    <label class="amount">
      <span>Amount: $5.00</span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="<%= Rails.configuration.stripe[:publishable_key] %>" data-description="A month's subscription" data-amount="500"></script>
<% end %>
