.logo{
  font-family: "Andale Mono", arial; 
  font-size: 60px;
  text-align: center;
}

.container-fluid{
  height: 100%;
  background-color: rgba(148, 210, 186, 0.8);
}

.main{
  width: 1400px;
  background-color: white;
}

.LCR{
  text-align: center;
}

.header-right{
  text-align: right;
}