
.body{
  /*text-align: center;*/
  height: 100%;
  /*text-align: center;*/
}

.header{
  font-family: arial;
  background-color: rgba(148, 210, 186, 0.6);
  margin: 0;
  padding: 0;
  border: 0;
  /*text-align: center;*/
}

.footer{
  background-color: rgba(148, 210, 186, 0.6);
  margin: 0;
  padding: 0;
  border: 0;
  /*text-align: center;*/
}

.logo{
  font-family: arial; 
  font-size: 60px;
  text-align: center;
  color: black;
}

.main{
  background-color: white;
  height: 100%;
}

.header-buttons{
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: arial;
}

.header-search{
  text-align: left;
  margin-left: 10px;
  margin-top: 10px;
}

.header-order-cart{
  text-align: right;
  margin-left: 1040px;
  margin-top: 10px;
}

.bottom-footer{
  margin-top: 10px; 
  border-top: 10px;
  border-top-color: black;
}

.footer-contents{
  border-top: 5px;
  border-color: black;
}

