
.body{
  /*text-align: center;*/
  height: 100%;
  /*text-align: center;*/
}

.header{
  background-color: rgba(148, 210, 186, 0.8);
  margin: 0;
  padding: 0;
  border: 0;
  /*text-align: center;*/
}

.logo{
  font-family: "Arial"; 
  font-size: 60px;
  text-align: center;
  color: black;
}

.main{
  /*width: 1400px;*/
  background-color: white;
}

.header-buttons{
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: "Arial";
}

.bottom-footer{
  margin-top: 10px;
}

.index-buttons{
  background-color: midnightblue;
}

.footer{
  background-color: rgba(148, 210, 186, 0.8);
  margin-top: 10px;
}
