/*// Place all the styles related to the menus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/
.menu-text{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.col-xs-8.menu{
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: rgba(212, 212, 217, 1);
  margin: 10px 0px 10px 0px;
  padding: 0;
}

.menu-header{
  background-color: rgba(212, 212, 217, 1);
  height: 25%;
  padding: 0;
  margin: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

}

.dish-name-menu{
  font-weight: bold;
}

.menu-restaurant-name{
  /*margsin-left: 30px;*/
  padding-left: 30px;
  font-weight: bold;
}

.menu-restaurant-address{
  font-size: 12px;
  /*padding-left: 50px;*/
  margin-left: 15px;
}

.menu{
  margin-top: 10px;
}

.menu-body{
  background-color: white;
}

.restaurant-detail{
  margin-top: 10px;
  margin-left: 0px;
  text-align: center;
}

#menu-button ul li a{
  color: rgb(102, 102, 102);
  font-size: 17px;
  font-weight: bold;
}

#menu-button ul li.active a{
  color: rgba(0, 0, 0, 1);
}

.menu-dishes{
  margin-left: 15px;
}

.dish-title1{
  font-size: 23px;
  font-weight: bold;
  color:rgba(0, 0, 0, 1);
  margin-top: 20px;
  margin-bottom: 10px;
}

.row.dish-description{
  font-size: 13px;
  color: rgba(51, 51, 51, 1);
  margin-bottom: 9px; 
}

.dish-image{
  margin-bottom: 10px;
}

.dish-title2{
  font-size: 13px;
  color:rgba(51,51,51,1);
  padding-top: 10px;
}

/*.variation{
  border-bottom-color: rgba(229, 229, 229, 1);
  border-bottom-width: 1px;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 10px;
  padding-top: 10px; 
}*/

#your-order-checkout{
  text-align: left;
}

.checkout-button{
  text-align: center;
  padding: 10px;
}

.your-order{
  border-style: solid;
  border-spacing: 5px;
  border-radius: 20px;
  border-color: rgba(212, 212, 217, 1);
  margin: 10px 0px 10px 0px;
  padding: 0;
}

.your-order-head{
  background-color: rgba(212, 212, 217, 1);
  text-align: left;
  font-size: 16px;
}

.your-order-body{
  background-color: white;
}

.checkout-btn{
  text-align: right;
}
