
.filter-box{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.cuisines-text{
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.locations-text{
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}