
.locations-img{
  width:300px;
  height: 300px;
  border: 5px;
  border-style: solid;
  border-color: black;
  background-image: image-url("locations-central.jpg");
}

/*.grey-box{
  width:300px;
  height:50px;
  background-color:rgba(157, 159, 162, 0.8);*/
/*}*/