<footer id="footer" class="footer">
  <div class="container">
    <div class="row footer-padding">
      <div class="col-xs-3 bottom-footer">
        CUSTOMER SERVICES 
      </div>
      <div class="col-xs-3 bottom-footer">
        LATEST FROM FOODMAGIC
      </div>
      <div class="col-xs-3 bottom-footer">
        OUR COMPANY
      </div>
      <div class="col-xs-3 bottom-footer">
        RELATED FOODMAGIC SITES
      </div>
    </div>

    <div class="row footer-padding">
      <div class="footer-contents">

        <div class="col-xs-3">
          <div>
          Hong Kong 852 2345 6789
          </div>
          <div>
          Your Account
          </div>
          <div>
          Email Customer Service
          </div>
          <div>
          Frequently Asked Questions
          </div>
          <div>
          Privacy Policy
          </div>
        </div>

        <div class="col-xs-3">
          <div>
          Facebook
          </div>
          <div>
          Instagram
          </div>
          <div>
          Pinterest
          </div>
          <div>
          Twitter
          </div>
          <div>
          Tumblr
          </div>
          <div>
          YouTube
          </div>
          <div>
          Google
          </div>
        </div>

        <div class="col-xs-3">
          <div>
          Corporate Responsibility
          </div>
          <div>
          Investors
          </div>
          <div>
          FoodMagic Careers
          </div>
          <div>
          Accessibility
          </div>
        </div>

        <div class="col-xs-3">
          <div>
          FoodMagic for the Press
          </div>
          <div>
          Mobile Site
          </div>
          <div>  
          What Makes Food True
          </div>
          <div>
          The FoodMagic Foundation
          </div>
        </div>

      </div>
    </div>
    
  </div>
</footer>