<header id="header" class="header">
  <!-- <div class="container"> -->
    <!-- <div> -->

        <div class="logo">
          FoodMagic
        </div>

    <!-- </div> -->
  <!-- </div> -->
</header>
<div class="below-header-row">
</div>